# Database notebook

This notebook tests database loading capabilities.

In [1]:
# Some imports
from IPython.display import display
import db

In [2]:
db.connect_access("C:\\test.accdb")
df = db.query("SELECT input_value FROM test")
display(df)

  input_value
0        test
1         aaa

In [3]:
db.connect_sqlite("C:\\test.db")
df = db.query("SELECT id, input_value FROM test")
display(df)

   id input_value
0   1         abc
1   2         abc
2   3     aaaaaaa
3   4     aaaaaaa
4   5     aaaaaaa
5   6     aaaaaaa

In [4]:
df = db.query("SELECT x, y FROM input_values")
display(df)

   x  y
0  1  2
1  2  3
2  3  1
3  4  5